<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div class="loginpage">
        <div class="detail">
            <div class="left"></div>


            <div class="right">
                <img src="../images/logo.jpg"  alt="">
                <h1>Hey there, Register Now</h1>
                <form action="/register" method="post">
                    <div class="un">
                        <i class="ri-user-line"></i>
                         <input type="text" name="username" placeholder="UserName"></div>
                   <div class="pass">
                    <i class="ri-lock-password-line"></i>
                    <input type="email" name="email" placeholder="Email">
                   </div>
                   <div class="un">
                    <i class="ri-user-line"></i>
                     <input type="text" name="name" placeholder="Full Name"></div>
                     <div class="un">
                        <i class="ri-user-line"></i>
                         <input type="password" name="password" placeholder="Password"></div>
                   <div class="sub">
                    <input type="submit"  value="Register">
                   </div>
                    </form>
                   
                    <a href="/login" class="reg">Already Have Account? <br>Sign In</a>
                    

            </div>
        </div>
    </div>
    
</body>
</html>